@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;
    font-family: 'Hanken Grotesk';
    font-weight: 500;
}
.container{
    
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.innercontainer{
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    display: flex;
    width: 450px;
    height: 60%;
    background-color: aliceblue;
    flex-wrap: wrap;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(222, 219, 219, 0.665);
}

.leftcontainer{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    align-items: center;
    justify-content: space-around;
    border-radius: 18px;
}
.leftcontainer p:first-of-type {
    color: hsla(240, 22%, 91%, 0.843);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    align-self: center;
    
}
.leftcontainer p:nth-of-type(2) {
    color: rgba(240, 248, 255, 0.944);
    font-weight: 700;
    font-size: 18px;
    position: relative;
    top: 8px;
}
.leftcontainer p:last-of-type {
    color: hsla(240, 21%, 91%, 0.6);
    font-size: 10px;
    width: 60%;
    font-weight: 600;
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    height: 22vh;
    width: 22vh;
}
.circle p:first-of-type {
    color: rgba(245, 245, 245, 0.94);
    font-size: 2.6rem;
    font-weight: 1100;
    position: relative;
    top: 7px;
}
.circle p:last-of-type {
    color: hsl(241, 100%, 89%, 0.6);
    font-size: 0.6rem;
    font-weight: 700;
}
.rightcontainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
}
.summary-container{
    display: flex;
    height: 10%;
    width: 85%;
    background-color: aliceblue;
    color: rgb(186, 186, 186);
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 75%;
    font-weight: 700;
}
.summary-container:nth-of-type(1){
background-color: hwb(0 98% 0%);
}
.summary-container:nth-of-type(2){
    background-color: hsla(39, 50%, 92%, 0.679);
}
.summary-container:nth-of-type(3){
    background-color: hsl(165, 100%, 98%);
}
.summary-container:nth-of-type(4){
    background-color: hsl(235, 100%, 98%);
}
.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.summary-container img{
    height: 60%;
    width: 20%;

}
#summary{
    width: 90%;
    text-align: left;
    padding-left: 4px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

p{
    text-align: center;
}


#reaction{
    color: hsla(0, 100%, 67%, 0.9);
}

#memory{
    color: hsl(39, 100%, 56%, 0.9);
}

#verbal{
    color: hsl(166, 100%, 37%, 0.9);
}

#visual{
    color: hsl(234, 85%, 45%, 0.9);
}
span{
    color: hsla(224, 30%, 27%, 0.83);
}
button {
    margin-bottom: 15px;
    background-color: hsl(224, 30%, 27%);
    width: 85%;
    height: 12%;
    border: 0px ;
    border-radius: 20px;
}
button p{
    color: rgb(225, 232, 239);
    font-weight: 600;
    font-size: 12px;
}